*{
    width: 1000px;
    margin: 10px auto;
}

li{
    display: inline;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin: 20px;
    padding: 2px;
}
ul.my-ul{
    text-align: center;  
}

div{
    padding: 20px;
    background-color: lightgrey;
}

.about{
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid black;
}