input[type = "text"]{
    color: red;
}

input[type="password"]{
    background-color: antiquewhite;
}

/* Now, I want to select link that havve amazon */

a[href *= "amazon"]{
    color: brown;
}

/* Now, I want to Select those link that start with https */
a[href ^= "https"]{
    color: bisque;
}

/* Now, I want to Select those a that ends with .in */
a[href $= ".in"]{
    color: rebeccapurple;
}